In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("new-thyroid.data")

In [4]:
row1=list(data.columns)

In [5]:
row1

['1', '107', '10.1', '2.2', '0.9', '2.7']

In [6]:
data.columns=['class','T3-resin uptake test','Total Serum thyroxin','Total serum triiodothyronine','basal thyroid-stimulating hormone (TSH)','Maximal absolute difference of TSH']

In [7]:
data.head()

,class,T3-resin uptake test,Total Serum thyroxin,Total serum triiodothyronine,basal thyroid-stimulating hormone (TSH),Maximal absolute difference of TSH
0,1,113,9.9,3.1,2.0,5.9
1,1,127,12.9,2.4,1.4,0.6
2,1,109,5.3,1.6,1.4,1.5
3,1,105,7.3,1.5,1.5,-0.1
4,1,105,6.1,2.1,1.4,7.0

In [8]:
df_new = pd.DataFrame({'col1':[row1[0]],'col2':[row1[1]],'col3':[row1[2]],'col4':[row1[3]],'col5':[row1[4]],'col6':[row1[5]]})

In [9]:
df_new.columns=['class','T3-resin uptake test','Total Serum thyroxin','Total serum triiodothyronine','basal thyroid-stimulating hormone (TSH)','Maximal absolute difference of TSH']

In [10]:
data = pd.concat([df_new,data], axis=0)

In [11]:
data.head(15)

,class,T3-resin uptake test,Total Serum thyroxin,Total serum triiodothyronine,basal thyroid-stimulating hormone (TSH),Maximal absolute difference of TSH
0,1,107,10.1,2.2,0.9,2.7
0,1,113,9.9,3.1,2.0,5.9
1,1,127,12.9,2.4,1.4,0.6
2,1,109,5.3,1.6,1.4,1.5
3,1,105,7.3,1.5,1.5,-0.1
4,1,105,6.1,2.1,1.4,7.0
5,1,110,10.4,1.6,1.6,2.7
6,1,114,9.9,2.4,1.5,5.7
7,1,106,9.4,2.2,1.5,0.0
8,1,107,13.0,1.1,0.9,3.1
9,1,106,4.2,1.2,1.6,1.4
10,1,110,11.3,2.3,0.9,3.3
11,1,116,9.2,2.7,1.0,4.2
12,1,112,8.1,1.9,3.7,2.0
13,1,122,9.7,1.6,0.9,2.2

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 213
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   class                                    215 non-null    object
 1   T3-resin uptake test                     215 non-null    object
 2   Total Serum thyroxin                     215 non-null    object
 3   Total serum triiodothyronine             215 non-null    object
 4   basal thyroid-stimulating hormone (TSH)  215 non-null    object
 5   Maximal absolute difference of TSH       215 non-null    object
dtypes: object(6)
memory usage: 11.8+ KB

In [13]:
data = data.apply(pd.to_numeric, errors='coerce')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 213
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   class                                    215 non-null    int64
 1   T3-resin uptake test                     215 non-null    int64
 2   Total Serum thyroxin                     215 non-null    float64
 3   Total serum triiodothyronine             215 non-null    float64
 4   basal thyroid-stimulating hormone (TSH)  215 non-null    float64
 5   Maximal absolute difference of TSH       215 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 11.8 KB

In [15]:
data['class']=data['class'].map({1:1,2:0,3:0})

In [16]:
data['class'].value_counts()

1    150
0     65
Name: class, dtype: int64

In [27]:
data.describe()

,class,T3-resin uptake test,Total Serum thyroxin,Total serum triiodothyronine,basal thyroid-stimulating hormone (TSH),Maximal absolute difference of TSH
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,0.697674,109.595349,9.804651,2.050233,2.880000,4.199070
std,0.460337,13.145447,4.697362,1.419486,6.118031,8.070519
min,0.000000,65.000000,0.500000,0.200000,0.100000,-0.700000
25%,0.000000,103.000000,7.100000,1.350000,1.000000,0.550000
50%,1.000000,110.000000,9.200000,1.700000,1.300000,2.000000
75%,1.000000,117.500000,11.300000,2.200000,1.700000,4.100000
max,1.000000,144.000000,25.300000,10.000000,56.400000,56.300000

1: Normal and 0: Thyroid

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [18]:
log= LogisticRegression()
dt= DecisionTreeClassifier()
knn= KNeighborsClassifier()

In [19]:
x_train,x_test,y_train,y_test = train_test_split(data.iloc[:,1:],data.iloc[:,:1],random_state=42, test_size=0.3,)

In [20]:
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(150, 5) (150, 1) (65, 5) (65, 1)

In [21]:
log.fit(x_train,y_train)
dt.fit(x_train,y_train)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [22]:
y_pred_log = log.predict(x_test)
y_pred_dt = dt.predict(x_test)
y_pred_knn = knn.predict(x_test)

In [23]:
print(accuracy_score(y_test,y_pred_log))
print(accuracy_score(y_test,y_pred_dt))
print(accuracy_score(y_test,y_pred_knn))

0.9076923076923077
0.9846153846153847
0.9230769230769231

In [24]:
from sklearn.model_selection import cross_val_score
print('Logistic Regression:',cross_val_score(log,x_test,y_test,cv=10).mean())
print('KNN:',cross_val_score(knn,x_test,y_test,cv=10).mean())
print('decision Tree:',cross_val_score(dt,x_test,y_test,cv=10).mean())

Logistic Regression: 0.8738095238095237
KNN: 0.8595238095238095
decision Tree: 0.9547619047619047

In [25]:
import pickle
pickle.dump(dt,open('thyroid_model.pkl','wb'))

In [26]:
import sklearn
print(sklearn.__version__)

1.3.0